body{
    background-color: gold;
}
header{
margin: 10px;
padding: 20px;
}
nav{
    margin: 10px;
    padding: 20px;
    }
a:hover{
    background-color: red;
}
.Student{
    margin: 10px;
    padding: 20px;
}

#Events{
    margin: 10px;
    padding: 20px;
}

#News{
    margin: 10px;
    padding: 20px;
}

#Organizations{
font: 10
}

.p{
font: 12
}

h1{
    font-family: Georgia;
    font-size: 15;

}

h2{
    font-family: Georgia;
    font-size: 13;

}

p{
    font-family: Georgia;
    font-size: 12;
    color: maroon;
}
